.user-details img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.detail {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.formInfoUsuario {
    
    margin-bottom:5%;
}
.divcontenedorGeneral {
    width: 30%;
}
.divBotones {
    display: flex;
    justify-content: space-between;
}

