
.divcards {
    display: flex;
    flex-wrap:wrap;
    width: 70%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.amigosCard {
    width: 30.5%;
    margin-right: 20px;
    margin-bottom: 20px;
}
card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.textBox1,
.Boton1 {
    display: inline-block;
    vertical-align: middle;
}

.Boton1 {
    margin-left: 5px;
}
.form-control {
    width: 50% ;
    display: inline-flex;
}
.logonav {
    width: 50px;
    margin-right: 2%;
}
.imgSolicituA {
    margin-right: 9%;
    width: 43px;
    height: 40px;
    border-radius: 100%;
}
.pSoli {
    margin-right: 9%;
}
.botonesSoli{
    margin-top:5%;
    margin-right:5%;
}
.btnEnviarSoli{
    margin-top:7%;
}
.imgCardUser{
    height: 50%;
}
.contenedorTarjetasUsuario {
    width: 80% !important;
}
.divListaAmigos{
    margin-top:2%;
}
.fotoperfilAmigo {
    width: 43px;
    height: 40px;
    border-radius: 100%;
    margin-right:5%;
}
.amigo {
    display:flex;
    flex-wrap:wrap;
    margin-top: 4%;
}
.botonEliminarAmigo {
    margin-left: 30%;
    width: 30%;
    height: 25px;
    padding: initial;
}
.pNombreUAmigo{
    width:20%
}